<!DOCTYPE.html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/portfilo.css">
        <title>

        </title>
    </head>
    <body>
        <header>
            <h1>Dr.John Doe</h1>
            <p>Board- Certified Biologician</p>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section id="about">
            <h2>About Me</h2>
            <img src="../static/img/doc.webp" alt="">
            <p>Hello!!! I'm Dr.JOHN DOE.</p>
        </section>
        <section id="services">
            <h2>Services</h2>
            <ul>
                <li>Fertilization and Soil Management</li>
                <li>Disease Detection</li>
                <li>Pest and Insect Management</li>
            </ul>
        </section>
        <section id="contact">
            <h2>Contact Me</h2>
            <p>Email: johndoe123@gmail.com</p>
            <p>Phone: 987654321</p>
            <p>Address: Kathmandu-23, Nepal</p>
        </section>
        <footer>
            <p>&copy 2023 Smart Krishak</p>
        </footer>
    </body>
</html>